.row-content {
  padding: 10px;
}

.content {
  margin: 24px 12px;
}

.detail {
  margin: 24px;
}

.multiline {
  line-height: 140%;
}

.tint {
  /* Dark view_bg_color */
  background-color: rgba(30, 30, 30, 1);
  color: white;
}

.search-row {
  padding: 10px 5px;
}

.update {
  color: #ff7800;
}

.comment-tile {
  padding: 16px;
  padding-bottom: 24px;
}

.detail-heading {
  margin-bottom: 6px;
}

rating {
  color: @yellow_4;
}

.info-bar.horizontal > :not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 1px;
}

.info-bar.horizontal > :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.info-bar.vertical > :not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 1px;
}

.info-bar.vertical > :not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.author-badge {
	background-color: @blue_3;
	border-radius: 999px;
	color: @white_1;
	margin-left: 6px;
	padding: 2px 6px;
}

/* Progress Bar Colours */
progressbar.error progress {
    background-color: @red_1;
}

progressbar.error text {
    color: @red_1;
    opacity: 0.8;
}

progressbar.warning progress {
    background-color: @yellow_4;
}

progressbar.warning text {
    color: @window_fg_color;
}

progressbar.success progress {
    background-color: @green_1;
}

progressbar.success text {
    color: @green_1;
    opacity: 0.8;
}

/* Workaround for https://gitlab.gnome.org/GNOME/gtk/-/issues/5309 */
.boxed-list-placeholder > row:nth-last-child(2),
.boxed-list-placeholder > row.expander:nth-last-child(2):not(:checked) > box > list > row.header,
.boxed-list-placeholder > row.expander:nth-last-child(2) > box > revealer > list.nested > row:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.boxed-list-placeholder > row.expander:nth-last-child(2) > box > revealer > list.nested {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
